<div class="page" *ngIf="!loadingService.isLoading">
  <div class="nav">
    <a [routerLink]="'/home'">Back</a>
  </div>
  <div class="story card">
    <div class="public">
      <mat-slide-toggle [formControl]="sharedToggler">Shared</mat-slide-toggle>
    </div>
    <div class="oneliner">{{ story.getOneliner() }}</div>
    <div class="tracker">
      <div class="button">
        <button
          *ngIf="!tracker.isTracking"
          (click)="start()"
        >start</button>
        <button
          *ngIf="tracker.isTracking"
          (click)="stop()"
        >stop</button>
      </div>
      <span
        [ngClass]="{'tracking': tracker.isTracking}"
      >{{ timeService.timestampToTime(tracker.trackedMs) }}</span>
    </div>
  </div>
  <div class="moments" *ngIf="!isMomentsLoading">
    <div class="add">
      <button (click)="addMoment()">Add Moment</button>
    </div>
    <div class="moment card" *ngFor="let moment of momentList">
      <div class="time" *ngIf="moment.isSaved">{{
        moment.timestamp | date:'medium'
      }}</div>
      <div class="note">
        <textarea
          class="note-text"
          (paste)="onPaste($event, moment)"
          placeholder="note"
          [readonly]="moment.isSaved"
          [(ngModel)]="moment.note"
          matTextareaAutosize
          matAutosizeMinRows="2"
          [readonly]="moment.isSaving"
          *ngIf="!moment.isSaved"
        ></textarea>
        <pre class="note-text" *ngIf="moment.isSaved">{{ moment.note }}</pre>
      </div>
      <div class="screenshot" *ngIf="moment.screenshot && !moment.isScreenshotLoading">
        <img [src]="moment.screenshot">
      </div>
      <div class="save">
        <button
          class="label"
          (click)="saveMoment(moment)"
          *ngIf="!moment.isSaved"
          [disabled]="moment.isSaving"
        >
          Save
        </button>
        <span class="label" *ngIf="moment.isSaved">Saved</span>
        <mat-spinner
          [diameter]="20"
          *ngIf="moment.isSaving || moment.isScreenshotLoading"
        ></mat-spinner>
      </div>
    </div>
  </div>
  <mat-spinner [diameter]="30" *ngIf="isMomentsLoading"></mat-spinner>
</div>
