.page {
  >.tracking {
    padding: 0 20px;
    >.title {
      margin-bottom: 13px;
      span {
        font-size: 18px;
        font-weight: bold;
        color: #4e4e4e;
      }
    }
    >.select-range {
      >.radio {
        white-space: nowrap;
        button {
          outline: none;
          background: white;
          padding: 6px 20px;
          border: 2px solid #979797;
          color: #4e4e4e;
          font-size: 16px;
          font-weight: bold;
          border-right: none;
        }
        .selected {
          background: #d8d8d8;
        }
        .pointer {
          cursor: pointer;
        }
      }
      $border-radius: 8px;
      >.radio :first-child {
        border-radius: #{$border-radius} 0px 0px #{$border-radius};
      }
      >.radio :last-child {
        border-radius: 0px #{$border-radius} #{$border-radius} 0px;
        border: 2px solid #979797;
      }
    }
    >.range {
      margin-bottom: 50px;
    }
    >.story-select {
      max-width: 625px;
      margin-bottom: 45px;
    }
    >.total-time {
      font-size: 20px;
      font-weight: bold;
      color: #00b3b1;
      margin-bottom: 21px;
    }
    >.tracks {
      padding-left: 15px;
      >.row {
        display: flex;
        font-size: 17px;
        color: #4e4e4e;
        >.start-date {
          width: 70px;
        }
        >.start-time {
          width: 55px;
        }
        >.dash {
          width: 20px;
        }
        >.end-time {
          width: 55px;
        }
        >.end-date {
          width: 100px;
        }
        >.total-time {
          font-weight: 600;
        }
      }
    }
  }
}
