<div *ngIf="user">
  <h1 class="user-header">{{user.firstName}} {{user.lastName}}</h1>
  <div class="user-container">
    <div class="left-container">
      <div class="user-image-container">
        <img src="{{user.userImg}}" class="user-image">
      </div>
      <p class="user-name">
        {{user.userName}}
      </p>
      <p class="email">
          {{user.email}}
      </p>
      <ul class="social-networks">
        <li *ngFor="let socialNetwork of user.socialNetworks" class="social-network">
          <div class="{{socialNetwork}}">
            <!-- svg -->
            <img src="./assets/images/{{socialNetwork}}.svg" class="{{socialNetwork}}">
            <!-- png -->
            <!--<img src="./assets/images/linkedin.png" srcset="./assets/images/linkedin@2x.png 2x,./assets/images/linkedin@3x.png 3x" class="linkedin">-->
          </div>
        </li>
      </ul>
    </div>
    <div class="right-container">
      <div class="projects">
        <h3>Projects:</h3>
        <ul class="projects-list">
          <li *ngFor="let project of userProjects">
            <a [routerLink]="'/project-details/' + project.projectId" class="project">{{project.projectName}}</a>
          </li>
        </ul>
      </div>
      <div class="skills">
        <h3>Skills:</h3>
        <div class="skills-list">
          <p>{{user.skills}}</p>
        </div>
      </div>
      <div class="contributions">
        <h3>Contributions:</h3>
        <ul class="contributions-list">
          <li *ngFor="let contribution of user.userContributions" class="contribution">
            <p class="contribution-message">{{contribution.contributionMessage}}</p>
            <a href="{{contribution.contributionUrl}}">{{contribution.contributionUrl}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
