.user-header {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.user-container {
  display: flex;
  justify-content: space-around;

  >.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    >.user-name {
      font-size: 1.5em;
    }
    >.email {
      font-size: 1.25em;
    }
    >.social-networks {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      >.social-network {
        margin: 10px;
        border-radius: 0.25em;
      }
    }        
  }
  >.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    >.projects {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      >.projects-list {
        border: 2px gray solid;
        padding: 10px;
        >li {
          >.project {
            font-size: 1.25em;
          }
        }
      }
    }
    >.skills {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      >.skills-list {
        border: 2px gray solid;
        padding: 0.25em;
        font-size:1.25em;
      }
    }
    >.contributions {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      >.contributions-list {
        >.contribution {
          border: 2px gray solid;
          padding: 0.5em;
          >.contribution-message {
            font-size: 1.25em;
          }
        }
      }
    }
  }
}
