<div *ngIf="!book">
  Loading
</div>
<nav class="pull-right">
  <a routerLink="/projects">Projects</a>&nbsp;
  <a routerLink="/participants">Participants</a>&nbsp;
  <a routerLink="/about">About</a>&nbsp;
  <a routerLink="/contact">Contact Us</a>&nbsp;
</nav>
<app-about-component></app-about-component>
<app-contact-us-component></app-contact-us-component>
<app-participants-component></app-participants-component>
<app-projects-component></app-projects-component>
<router-outlet></router-outlet>
<div *ngIf="book">
  <div>
    <span>Title: </span>
    <span>{{ book.getTitle() }}</span>
  </div>
  <div>
    <span>Amount of pages: </span>
    <span>{{ book.getPages() }}</span>
  </div>
</div>
