<nav>
  <div class="logo">OSMP</div>
  <div class="menu">
    <a [routerLink]="'profile-pages/'">PROJECTS</a>
    <a href="https://www.hasadna.org.il/participants/">PARTICIPANTS</a>
    <a href="https://www.hasadna.org.il/">ABOUT</a>
    <a href="https://www.hasadna.org.il/contact/">CONTACT US</a>
  </div>
</nav>
<div class="program-website-container">
  <div class="section section-header">
    <div class="responsive">
      <img src="assets/images/image-1.svg">
    </div>
    <div class="content">
      <div class="osmp-title">Open Source Mentorship Program</div>
      <div class="osmp-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique senectus.
      </div>
      <div class="get-started-button">
        <a class="get-started-link" href="https://www.hasadna.org.il/get-started/">
          GET STARTED
        </a>
      </div>
    </div>
  </div>
  <div class="section section-about">
    <div class="content">
      <div class="about-title">
        About Us
      </div>
      <div class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Venenatis a condimentum vitae sapien pellentesque habitant
        morbi tristique senectus.
      </div>
      <div class="about-squares">
        <div class="about-square"></div>
        <div class="about-square"></div>
        <div class="about-square"></div>
      </div>
      <div class="read-more-button">
        <a class="read-more-link" href="https://www.hasadna.org.il/">
          READ MORE
        </a>
      </div>
    </div>
    <div class="responsive">
      <img src="assets/images/image-2.svg">
    </div>
  </div>
  <div class="section section-projects">
    <div class="content">
      <div class="projects-title">
        Our Projects
      </div>
      <div class="project-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Venenatis a condimentum vitae sapien
        pellentesque habitant morbi tristique senectus.
      </div>
      <table class="projects-links">
        <tr>
          <td>Lorem ipsum dolor sit amet</td>
          <td>consectetur adipiscing elit</td>
          <td>Venenatis a condimentum vitae</td>
        </tr>
        <tr>
          <td>pellentesque habitant morbi tristique</td>
          <td>consectetur adipiscing</td>
          <td>ut labore et dolore magna</td>
        </tr>
      </table>
      <div class="read-more-button">
        <a class="read-more-link" href="https://www.hasadna.org.il/projects/">
          READ MORE
        </a>
      </div>
    </div>
  </div>
  <div class="section section-participants">
    <div class="responsive"></div>
    <div class="content">
      <div class="participants-title">
        Participants
      </div>
      <div class="participants-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Venenatis a
        condimentum vitae sapien pellentesque habitant morbi tristique
        senectus.
      </div>
      <div class="read-more-button">
        <a class="read-more-link" href="https://www.hasadna.org.il/projects/">
          READ MORE
        </a>
      </div>
    </div>
  </div>
  <div class="section section-contact-us">
    <div class="responsive"></div>
    <div class="content">
      <div class="contact-title">
        Contact Us
      </div>
      <div class="card card-info">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor <a href="https://www.hasadna.org.il/contact/">HERE</a>.
        </div>
        <div>
          Venenatis a condimentum vitae sapien pellentesque habitant
          morbi tristique senectus <a href="https://www.hasadna.org.il/contact/">HERE</a>.
        </div>
      </div>
      <div class="card card-contacts">
        <div class="contact-information-text">
          Venenatis a condimentum vitae at:
        </div>
        <div class="contact-email">ouremail22@gmail.com</div>
        <div class="contact-phone">012-3456789</div>
      </div>
    </div>
  </div>
  <div class="footer-picture-1">
    <img src="assets/images/image-3.svg">
  </div>
  <div class="footer-picture-2">
    <img src="assets/images/image-4.svg">
  </div>
</div>
