.users-header {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.users-container {
  text-align: center;
  >.users-list {
    display: flex;
    justify-content: space-evenly;
    >.user {
      border: 2px lightgrey solid;
      border-radius: 0.25em;
    }
  }
}
