mat-toolbar {
  height: 64px;
  background-color: #fff;
}

.home {
  padding-left: 40px;
  font-family: Satisfy, cursive;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: black;

  :hover,
  :active {
    color: #4e4e4e;
  }
}
