.home {
  font-family: Satisfy;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4e4e4e;
}

a:hover, a:active{
  color: black;
}

.navigation-items{
  list-style-type: none;
}
.userImage{
  border-radius: 100%;
}
.user{
  padding-left: 80%;
}
mat-toolbar{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
