.navbar-brand {
    font-family: Satisfy;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4e4e4e;
}
.nav-link{
    margin-left: auto;
}
.userImage{
    border-radius: 100%;
}