<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="/assets/logo.png" width="60" height="50" href="/home">
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id="home" routerLink="/home">Storyteller Web<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">

      </li>
    </ul>
    <a class="nav-link" routerLink="/info"><img src="/assets/user.png" width="60" height="50" alt=""></a>
  </div>
</nav>