<div class="project-details media" *ngIf="project">
  <div class="project-name">{{project.getProjectName()}}</div>
  <div class="project-description">{{project.getProjectDescription()}}</div>
  <div class="project-link">
    <a  [href]="project.getProjectSite()" target="blank">
      {{project.getProjectSite()}}
    </a>
  </div>
  <div class="contributors">
    <div class="title">Contributors:</div>
    <div class="contributors-list">
      <app-contributor
        *ngFor="let user of projectUsers"
        [user]="user"
      ></app-contributor>
    </div>
  </div>
</div>
