.project-details {
  text-align: center;
  width: 100%;
  >.project-name {
    font-size: 32px;
    color: #4a4a4a;
    font-weight: bold;
    margin-bottom: 47px;
  }
  >.project-description {
    color: #4a4a4a;
    font-size: 20px;
  }
  >.project-link {
    margin: 35px;
    >a {
      font-size: 20px;
      word-wrap: break-word;
    }
  }
  >.contributors {
    display: flex;
    flex-direction: column;
    align-items: center;
    >.title {
      color: #565656;
      font-size: 20px;
      margin-bottom: 10px;
    }
    >.contributors-list {
      $margin: 20px;
      padding-left: $margin;
      padding-top: $margin;
      text-align: start;
      >app-contributor {
        margin-right: $margin;
        margin-bottom: $margin;
        display: inline-block;
      }
    }    
  }
}
