$font-stack: OpenSans;
.header {
	font-family: $font-stack;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #4e4e4e;
}

.head {
	margin-top: 10px;
}

.story {
	margin: 15px;
	width: 930px;
	border-radius: 2px;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.35);
	background-color: #ffffff;
}

.timestamp {
	text-align: right;
	margin-left: 30%;
}

.screenshotdiv {
	text-align: center;
}

img {
	margin-bottom: 25px;
}

.userimagediv {
	width: 60px;
	height: 100%;
}

.userImage {
	padding-top: 10px;
	padding-left: 10px;
}

.author {
	@extend .header;
	margin-left: 2%;
}

.project {
	@extend .header;
	font-style: italic;
}

.notes {
	@extend .header;
	margin-left: 10%;
	font-weight: normal;
	padding-bottom: 10px;
}

