<div *ngIf="isLoading">
  Loading
</div>
<div class="userinfo" *ngIf="!isLoading">
  <div class="leftContainer">
    <div class="card">
      <img class="cardImage" src="assets/user.png">
      <div class="title">{{user.getFirstName()}} {{user.getLastName()}}</div>
      <p class="email">{{user.getEmail()}}</p>
      <div class="links">
        <a href="https://github.com/"><i class="fa fa-github"></i></a>
        <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
        <a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a>
        <a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
    <div class="projectsDiv">
      <div class="allProjects"><span>All Projects</span> </div>
      <div class="projects" *ngFor="let project of projectList">
        <span>{{project}}</span>
      </div>
    </div>
  </div>
  <app-story-list-contributor [storyList]="storylist" [user]="user" [screenshots]="screenshots">
  </app-story-list-contributor>
</div>
