// portrait phones: 576px
// landscape phones: 768px
// tablets: 992px
// desktops: 1200px

.app-container {
  font-family: 'OpenSans', sans-serif;
  @media(max-width: 575.98px) {
    font-size: 10px;
  }
}

.app-header {
  display: flex;
  justify-content: space-between;
  @media (max-width: 575.98px) {
    flex-direction: column;
  }
  >.app-logo {
    justify-self: flex-start;
    display: flex;
    justify-content: space-around;
    @media(max-width:575.98px) {
      justify-content: flex-start;
    }
    >.my-sadna-logo {
      height: 5em;
      width: 5em;
    }
    >.my-sadna {
      margin: 1em;
      font-size: 1.50em;
      font-weight: 800;
      color: #0097e1;
    }
  }
  >.app-navigation-bar {
    justify-self: flex-end;
    @media(max-width: 575.98px) {
      align-self: center;  
    }
    >.app-navigation {
      >a {
        margin: 1em;
        font-size: 1.25em;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
      }
    }
  }
}

.app {
  text-align: center;
}
