body {
  WIDTH: 700px;
  WORD-WRAP: BREAK;
  FONT: normal 9pt 'Verdana'
}


H1 {
  PADDING: 2px;
  FONT-SIZE: 14pt;
  WIDTH: 700px;
  BACKGROUND-COLOR: #c3d9ff;
  TEXT-ALIGN: center;
  MARGIN: 0px;
  MARGIN-TOP: 2px;
  MARGIN-BOTTOM: 3px;
}

H2 {
  PADDING: 2px;
  FONT-SIZE: 12pt;
  WIDTH: 700px;
  BACKGROUND-COLOR: #e8eef7;
  MARGIN: 0px;
  MARGIN-TOP: 2px;
  MARGIN-BOTTOM: 3px;
}

H3 {
  PADDING: 2px;
  FONT-SIZE: 10pt;
  WIDTH: 350px;
  BACKGROUND-COLOR: #e1ffd6;
  MARGIN: 0px;
  MARGIN-TOP: 2px;
  MARGIN-BOTTOM: 3px;
}

p {
  padding: 3px 0px;
  width: 700px;
  margin: 0px;
  WORD-WRAP: BREAK;
}

div {
  vertical-align: top;
  width: 700px;
  margin: 0px;
  padding: 0px;
  WORD-WRAP: BREAK;
}

.green {
  PADDING: 5px;
  FONT-SIZE: 10pt;
  WIDTH: 300px;
  BACKGROUND-COLOR: #e1ffd6;
}

ul {
  MARGIN: 0px;
  PADDING: 0px 0px 0px 30px;
}

li {
  VERTICAL-ALIGN: top;
  WIDTH: 670px;
  padding-bottom: 3px;
  position: relative;
}

.p1 {
  PADDING-LEFT: 15px;
}

.p1bold {
  WIDTH: 700px;
  PADDING-LEFT: 15px;
  FONT-WEIGHT: bold;
}

.p2 {
  PADDING: 0px;
  PADDING-LEFT: 30px;
}

.right {
  FLOAT: right;
  PADDING: 0px 15px 0px 0px;
  MARGIN: 0px;
  VERTICAL-ALIGN: top;
  FONT-SIZE: 8pt;
}

.space {
  DISPLAY: BLOCK;
  HEIGHT: 5px;
}