@import 'styles/feeds.scss';

.storyListContainer {
  padding: 20px;
}

.singlestory {
  background-color: #fff;
  width: 1500px;
  height: 920px;
}

.screenImage {
  padding-left: 20px;
  width: auto;
  height: auto;
}

.timestamp {
  padding-left: 63%;
}