@import 'styles/feeds.scss';

.storyListContainer {
  padding: 20px;
}

.storiesContainer {
  background-color: #fff;
  width: 1500px;
  height: 920px;
}

.screenImage {
  padding-left: 20px;
  width: 100%;
  height: 1200px;
}
