<div *ngIf="isLoading">
  Loading
</div>
<div class="storyListContainer">
  <div class="list" *ngIf="!isLoading">
    <div class="story">
      <span class="storiesContainer">
        <a [routerLink]="'/info/' + story.getAuthor()">
          <img class="userImage" src="/assets/user.png">
        </a>
        <span class="headline">
          <app-story-headline [user]="user" [story]="story" [storyItem]="story.getItemList()[0]">
          </app-story-headline>
        </span>
        <div class="screenshotdiv">
          <img class="screenImage" src="data:image/png;base64,{{screenshot.getScreenshot_asB64()}}" />
        </div>
      </span>
    </div>
  </div>
</div>
