@import 'styles/variables';

mat-toolbar {
  height: 64px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  padding: 24px 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  >.icon-button {
    cursor: pointer;
    margin-right: 34px;
    user-select: none;
    width: 24px;
    display: flex;
    align-items: center;
  }
  >.label {
    >.home {
      font-family: $satisfy;
      font-size: 36px;
      text-decoration: none;
      color: black;
    }
  }
}
.placeholder {
  height: 64px;
}
