<div
  class="story card"
  [routerLink]="['/moment', easyStory.email, easyStory.storyId, easyStory.momentId]"
>
  <div class="user">
    <a [routerLink]="['/info', easyStory.email]">
      <user-avatar [url]="easyStory.imageURL"></user-avatar>
    </a>
  </div>
  <div class="content">
    <div class="header">
      <div class="info">
        <span class="author">
          <a [routerLink]="['/info', easyStory.email]">{{ easyStory.username }}</a>
        </span>
        on
        <span class="project">{{ easyStory.projectId }}</span>
      </div>
      <div class="time">
        <a [routerLink]="['/moment', easyStory.email, easyStory.storyId, easyStory.momentId]">
          {{ easyStory.timestamp | date:'HH:mm, MMM d, y' }}
        </a>
      </div>
    </div>
    <div class="oneliner">
      {{ easyStory.oneliner }}
    </div>
    <div class="note">
      {{ easyStory.note }}
    </div>
    <div class="screenshot" *ngIf="easyStory.screenshotName">
      <mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
      <img
        class="screenImage"
        [src]="easyStory.screenshotURL"
        (click)="$event.stopPropagation(); openScreenshot()"
        *ngIf="!isLoading && easyStory.screenshotURL"
      />
    </div>
  </div>
</div>
