<div class="home">
  <div class="open-project" *ngIf="!isOpened">
    <input type="text" placeholder="project" [(ngModel)]="id">
    <button (click)="open()">Open</button>
  </div>
  <div class="project" *ngIf="isOpened">
    <div class="close">
      <a (click)="close()">back</a>
    </div>
    <div class="story">
      <div class="project-id">
        <span>{{ id }}</span>
        <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
      </div>
      <div class="tracker">
        <div class="button">
          <button
            *ngIf="!isStarted"
            (click)="start()"
            [disabled]="isLoading"
          >start</button>
          <button
            *ngIf="isStarted"
            (click)="stopClock()"
            [disabled]="isLoading"
          >stop</button>
        </div>
        <span>{{ timeConversion(display) }}</span>
      </div>
    </div>
    <div>
      <button
        (click)="addStoryItem()"
        [disabled]="!isStarted || isLoading"
      >Add Story Item</button>
    </div>
    <div class="story-item" *ngFor="let storyItemUI of storyItemList">
      <div>
        <input
          type="text"
          placeholder="oneliner"
          [readonly]="storyItemUI.isSaved"
          [(ngModel)]="storyItemUI.oneliner"
          (paste)="onPaste($event, storyItemUI)"
        >
      </div>
      <div>
        <textarea
          (paste)="onPaste($event, storyItemUI)"
          placeholder="note"
          [readonly]="storyItemUI.isSaved"
          [(ngModel)]="storyItemUI.note"
        ></textarea>
      </div>
      <div *ngIf="storyItemUI.screenshot">
        <img [src]="storyItemUI.screenshot">
      </div>
      <div class="save">
        <button
          (click)="saveStoryItem(storyItemUI)"
          *ngIf="!storyItemUI.isSaved"
          [disabled]="!isStarted || isLoading"
        >
          Save
        </button>
        <span *ngIf="storyItemUI.isSaved">Saved</span>
      </div>
    </div>
  </div>
</div>
