<div *ngIf="project" class="project-details">
  <h1 class="project-name">{{project.projectName}}</h1>
  <h3 class="project-description">{{project.projectDescription}}</h3>
  <a href="{{project.projectSite}}" target="blank" class="project-link">
    <h3>
      {{project.projectSite}}
    </h3>
  </a>
  <div class="contributors">
    <h3>Contributors:</h3>
    <div class="contributors-list">
      <div class="contributor" *ngFor="let user of projectUsers">
        <a [routerLink]="'/user-details/' + user.userId">
          <div class="user-image">
            <img src="{{user.userImg}}" class="user-image">
          </div>
          <div class="user-names">
            <div class="user-full-name">
              <h4>{{user.firstName}} {{user.lastName}}</h4>
            </div>
            <div class="user-name">
              <p>{{user.userName}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
