<div class="contacts">
  <h2 class="contacts-header">Contacts</h2>
  <div class="contacts-container">
    <ul class="contacts-list">
      <li *ngFor="let user of users" class="user">
        <a [routerLink]="'/user-details/' + user.userId">
          <div class="user-image">
            <img src="{{user.userImg}}" class="user-image">
          </div>
          <div class="user-names">
              <div class="user-full-name">
                <h4>{{user.firstName}} {{user.lastName}}</h4>
              </div>
              <div class="user-name">
                <p>{{user.userName}}</p>
              </div>
            </div>
        </a>
      </li>
    </ul>
  </div>  
</div>
