.contacts {
  width: 100%;
}

.contacts-header {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.contacts-container {
  >.contacts-list {
    display: flex;
    justify-content: flex-start;
    >.user {
      border: 2px lightgrey solid;
      border-radius: 0.25em;
      margin: 10px;
      >a {
        text-decoration: none;
        >.user-names {
          text-align: left;
          >.user-full-name {
            color: black;
            margin: 1em;
          }
          >.user-name {
            color: gray;
            margin: 1em;
          }
        }
      }
    }
  }
}
