.container {
    background-color: #e6eff0;
}

.timestamp{
  padding-left: 30%;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767676;
}

.userImage{
  border-radius: 100%;
}

.screenshotdiv{
    padding-top: 10px;
    text-align: center;
}
.notes{
  padding-left: 10%;
}
.head{
  text-align: right;
  padding-left: 20px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4e4e4e;
}
.storydiv{
  padding: 15px;
  margin: 15px;
  border-radius: 2px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
}
.author{
  font-weight: bold;
  font-style: normal;
}
.project{
  font-weight: bold;
  font-style: italic;
}