.st-snack-success {
  background-color: #37d437;

  .mat-simple-snackbar {
    color: black;
  }
}

.st-snack-info {
  background-color: #9da1f1;

  .mat-simple-snackbar {
    color: black;
  }
}

.st-snack-warning {
  background-color: #ffc944;

  .mat-simple-snackbar {
    color: black;
  }
}

.st-snack-error {
  background-color: #e83636;

  .mat-simple-snackbar {
    color: black;
  }
}
