@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./variables";
@import "./global-styles";
@import './notification';
@import './media';

html,
body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: $font-stack;
  background-color: #e6eff0;
}
