@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./variables";
@import "./global-styles";
@import './notification';

html {
  overflow-x: hidden;
  overflow-y: scroll;
  body {
    margin: 0;
    font-family: $font-stack;
    background-color: #e6eff0;
  }
}
