<div *ngIf="user">
  <h2 class="userHeader">{{user.firstName}} {{user.lastName}}</h2>
  <div class="userContainer">
    <div class="leftContainer">
      <div class="userName">{{user.userName}}</div>
      <div class="email">{{user.email}}</div>
      <ul class="social-Networks">
        <li *ngFor="let socialNetwork of user.socialNetworks" class="socialNetwork">
          <div class="{{socialNetwork}}">
            <!-- svg -->
            <img src="./assets/images/{{socialNetwork}}.svg" class="{{socialNetwork}}">
            <!-- png -->
            <!--<img src="./assets/images/linkedin.png" srcset="./assets/images/linkedin@2x.png 2x,./assets/images/linkedin@3x.png 3x" class="linkedin">-->
          </div>
        </li>
      </ul>
    </div>
    <div class="rightContainer">
      <div class="projects">
        <h4>Projects:</h4>
        <ul class="projects-list">
          <li *ngFor="let project of userProjects">
            <a [routerLink]="'/project-details/' + project.projectId">{{project.projectName}}</a>
          </li>
        </ul>
      </div>
      <div class="skills">
        <h4>Skills:</h4>
        <div class="skills-list">
          {{user.skills}}
        </div>
      </div>
      <div class="contributions">
        <h4>Contributions:</h4>
        <ul class="contributions-list">
          <li *ngFor="let contribution of user.userContributions" class="contribution">
            {{contribution}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>