<div *ngIf="user">
  <h2>{{user.firstName}} {{user.lastName}}</h2>
  <span>
    <div class="userName">{{user.userName}}</div>
    <div class="email">{{user.email}}</div>
    <ul>
      <li *ngFor="let socialNetwork of user.socialNetworks">
        {{socialNetwork}}
      </li>
    </ul>
  </span>
  <span>
    <div class="projects">
      <h4>Projects:</h4>
      <ul>
        <li *ngFor="let project of userProjects">
          <a routerLink="/project-details/{{project.projectId}}">{{project.projectName}}</a>
        </li>
      </ul>
    </div>
    <div class="skills">
      <h4>Skills</h4>
      {{user.skills}}
    </div>
    <div class="contributions">
      <h4>Contributions</h4>
      <ul>
        <li *ngFor="let contribution of user.contributions">
          {{contribution}}
        </li>
      </ul>
    </div>
  </span>
</div>