.project-details {
    text-align: center;
}

.contributors-list {
    display: flex;
    justify-content: space-evenly;
    >.contributor {
        display: flex;
        flex-direction: column;
        .userNames {
            border: 2px gray solid;
        } 
    }
}
