<div *ngIf="project" class="project-details">
  <h2>{{project.projectName}}</h2>
  <h3>{{project.projectDescription}}</h3>
  <a href="{{project.projectSite}}" target="blank">{{project.projectSite}}</a>
  <div class="contributors">
    <h4>Contributors</h4>
    <div class="contributors-list">
      <div class="contributor" *ngFor="let user of projectUsers">
        <a [routerLink]="'/user-details/' + user.userId">
          <div class="userImage">
            <img src="{{user.userImg}}">
          </div>
          <div class="userNames">
            <div class="userFullName">
              <h4>{{user.firstName}} {{user.lastName}}</h4>
            </div>
            <div class="userName">
              <p>{{user.userName}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
