<div *ngIf="project" class="project-details">
  <h2>{{project.projectName}}</h2>
  <h3>{{project.projectDescription}}</h3>
  <a rel="{{project.projectSite}}" target="blank">{{project.projectSite}}</a>
  <div class="contributors">
    <h4>Contributors</h4>
    <div>
      <span>
        <div class="contributor" *ngFor="let user of projectUsers">
          <a routerLink="/user-details/{{user.userId}}">
            <h4>{{user.firstName}} {{user.lastName}}</h4>
            <p>{{user.userName}}</p>
          </a>
        </div>
      </span>
    </div>
  </div>
</div>