.user-info-page {
  display: flex;
  display: 100%;
  justify-content: center;
  padding: 20px;
  >.align-container {
    display: flex;
    >.project-menu {
      >.card {
        display: flex;
        margin-bottom: 23px;
        flex-direction: column;
        align-items: center;
        >img {
          margin-top: 50px;
          width: 120px;
          height: 120px;
        }
        >.name {
          margin-top: 10px;
          font-size: 20px;
          font-weight: bold;
          color: #4e4e4e;
        }
        >.hr {
          width: 100%;
          height: 1px;
          margin-top: 30px;
          background: #d8d8d8;
        }
        >.email {
          margin-top: 17px;
          font-size: 18px;
          margin-bottom: 20px;
          color: #4e4e4e;
        }
      }
    }
    >.feed {
      app-story {
        display: block;
        margin-bottom: 20px;
      }
    }
  }
}
