<div class="user-info-page">
  <mat-spinner [diameter]="70" *ngIf="isLoading"></mat-spinner>
  <div class="align-container" *ngIf="!isLoading">
    <div class="project-menu">
      <div class="card menu-card">
        <img src="/assets/default-avatar.png">
        <div class="name">{{ user.getFirstName() }} {{ user.getLastName() }}</div>
        <div class="hr"></div>
        <div class="email">{{user.getEmail()}}</div>
      </div>

      <project-select
        [projectIdList]="projectIdList"
        (selectEmitter)="loadProjectStories($event)"
      ></project-select>
    </div>
    <div class="feed">
      <app-story
        *ngFor="let easyStory of easyStories"
        [easyStory]="easyStory"
      ></app-story>
    </div>
  </div>
</div>
