@media only screen and (max-width: $lg) {
  .media-lg-visible {
    display: none;
  }
  .page-container {
    padding: 20px 0;
  }
}
@media only screen and (min-width: $lg + 1) {
  .media-lg-hidden {
    display: none !important;
  }
  .page-container {
    padding: 20px 80px;
  }
}
