<div *ngIf="isLoading">
  Loading
</div>
<div class="story" *ngIf="!isLoading">
  <span class="userimagediv">
    <img class="userImage" src="/assets/user.png" width="60" height="50" alt="">
  </span>
  <span class="head">
    <span class="author">{{ story.getAuthor() }}</span>
    <span> on </span>
    <span class="project">{{ story.getProject() }}</span>
  </span>
  <div class="screenshotdiv">
    <img
       src="data:image/png;base64,{{screenshot.getScreenshot_asB64()}}"
       height="480"
       width="750" 
    />
  </div>
</div>