<div *ngIf="isLoading">
  Loading
</div>
<div class="singleFeed">
  <div class="story" *ngIf="!isLoading">
    <span class="userimagediv">
      <img class="userImage" src="/assets/user.png" width="60" height="50" alt="">
    </span>
    <span class="head">
      <span class="author">{{ story.getAuthor() }}</span>
      <span> on </span>
      <span class="project">{{ story.getProject() }}</span>
      <span class="timestamp">{{story.getItemList()[0].getTimeMs() | date:'short'}}</span>
    </span>
    <div class="screenshotdiv">
      <img class="single" 
      src="data:image/png;base64,{{screenshot.getScreenshot_asB64()}}" />
    </div>
  </div>
</div>

