@import 'media';

.user-info-small {
  width: 100%;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.35);
  display: flex;
  >.avatar {
    position: relative;
  }
  >.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    >.name {
      font-weight: bold;
      color: #4e4e4e;
    }
    >.email {
      color: #4e4e4e;
    }
  }
}
.page {
  >.project-menu {
    >.card {
      display: flex;
      margin-bottom: 23px;
      flex-direction: column;
      align-items: center;
      >.avatar {
        margin-top: 50px;
        width: 120px;
        height: 120px;
        position: relative;
      }
      >.name {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        color: #4e4e4e;
      }
      >.hr {
        width: 100%;
        height: 1px;
        margin-top: 30px;
        background: #d8d8d8;
      }
      >.email {
        margin-top: 17px;
        font-size: 18px;
        margin-bottom: 20px;
        color: #4e4e4e;
      }
    }
  }
}
